@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-padding: 3rem;
}
body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  gap: var(--app-padding);
  padding: 0 var(--app-padding);
}

body > div {
  @apply h-full w-full;
}

.books-grid {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
